@import "tailwindcss";
@import '@fontsource/jetbrains-mono';
@import '@fontsource/ibm-plex-mono';

:root {
  --background: #222024;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: 'JetBrains Mono', monospace;
  --font-mono: "IBM Plex Mono", monospace;
}

@layer base {
  html {
    font-family: var(--font-mono);
    font-size: clamp(16px, 1.25vw, 24px);
  }

  .text-title {
    font-size: clamp(32px, 4vw, 52px);
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #222024;
    --foreground: #ededed;
  }
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
