@import "tailwindcss";
@import '@fontsource/jetbrains-mono';
@import '@fontsource/ibm-plex-mono';

:root {
  --background: #1A1A1A;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: 'JetBrains Mono', monospace;
  --font-mono: "IBM Plex Mono", monospace;
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* IE and Edge */
  .no-scrollbar {
    -ms-overflow-style: none;
  }

  /* Firefox */
  .no-scrollbar {
    scrollbar-width: none;
  }
}


@layer base {
  html {
    font-family: var(--font-mono);
    font-size: clamp(16px, 1.25vw, 24px);
  }

  .text-title {
    font-size: clamp(36px, 4vw, 60px);
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #1A1A1A;
    --foreground: #ededed;
  }
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
